.vscode
.idea
build
devel
build_isolated
devel_isolated
.catkin_tools
logs
temp
compile_commands.json
*.bag
install
.mypy_cache
cache
__pycache__
temp.*
*.bag
*.aux
*.fls
*.log
*.fdb*
*.gz
*.bag.filtered
*.out
*.pdf
*.pyc

/convert.py
/params.py
*.clf
*.pcd
*.relations
metricEvaluator

*.csv
**/line_extration_image/*.png
/log
rospack*
*.bin
*.png
pwd
*.g2o
*.result
*.errors
*.time
*.*time